version: "3"
services:
  develop:
    build: .
    ports:
      - "4000:4000"
    container_name: document
    env_file:
      - dev.env
    environment:
      NODE_ENV: dev
      PORT: 4000
      NODE_PATH: app/src
      API_VERSION: v1
      CT_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Im1pY3Jvc2VydmljZSIsImNyZWF0ZWRBdCI6IjIwMTYtMDktMTQifQ.IRCIRm1nfIQTfda_Wb6Pg-341zhV8soAgzw7dd5HxxQ
      STAMPERY_TOKEN:
      S3_ACCESS_KEY_ID:
      S3_SECRET_ACCESS_KEY:
      CT_REGISTER_MODE: auto
      ELASTIC_URL: http://localhost:9200
    command: develop
    volumes:
      - ./app:/opt/rw-adapter-document/app
